h3 {
    font-family: 'Inconsolata', monospace; 
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-500);
}

.tags {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    width: 754px;
    height: 40px;
    
}

.tags div {
    display: flex;
    
    padding: 8px 16px;
    gap: 8px;
    background-color: var(--gray-300);
    margin-top: 30px;
    width: 114px;
    height: 40px;
    border-radius: 999px;
}