#intro {
    width: 1366px;
    height: 750px;
    
    
    background: url('../assets/images/Background_Intro.png') center/cover no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Garante que o texto fique alinhado */
    margin: 0 auto;
    
}

.nome {
    color: var(--red);
}

.info01 {
    width: 680px;
    height: 67px;
    flex: none;
    text-align: center;
}
.info02 {
    width: 680px;
    height: 40px;
    text-align: center;
}



